<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo GitHub Pages</title>
</head>
<body>
    <h1> Demo </h1>
    <h2> Les employés de test </h2>
    <div>
        {% for employee in site.data.demo.employees %}
        <h3> {{employee.name}} </h3>
        <h4> Départements:
            {% for dep in employee.departments %}
            <span> {{dep.code}} {{dep.name}}</span>
            {% endfor %}
        </h4>
        {% endfor %}
    </div>
    
    <h2> Les lieux de test </h2>
    <div>
        {% for agency in site.data.demo.agencies %}
        <h3> {{agency.name}}</h3>
        <p> {{agency.address}} {{agency.postalCode}} {{agency.city}} <br>
            {{agency.phone}}</p>
        {% endfor %}
    </div>
</body>
</html>